.modern-btn {
    background-color: #CE8B13; /* orange */
    color: #3E2310; /* light gray */
    border: 2px solid #3E2310; /* dark brown */
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 #22221E; /* dark gray */
    font-family: 'Inter', sans-serif;
  }
